<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>HOME</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

  <script src="main.js"></script>
</head>

<body>

  <h1>{{ pagename|title }}</h1>
  <div id="devices" class="container-fluid">
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">IP</th>
          <th scope="col">MAC</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        {% for device in devices %}
        <tr>
          <td><a href="#" id="device" data-type="text" data-title="Nombre del dispositivo">{{device.name}}</a></td>
          <td>{{device.ip}}</td>
          <td>{{device.mac}}</td>
          <td>
            {% if device.known %}<i class="fas fa-shield-alt known" onclick="changeType()"></i>{% endif %}
            {% if !device.known %}<i class="fa fa-question unknown" onclick="changeType()"></i>{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>
